* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.nav {
    display: flex;
    box-shadow: rgba(199, 195, 195, 0.664) 1px 1px 1px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.logo span {
    color: rgb(189, 0, 0);
}

.link a {
    padding: 10px;
    text-decoration: none;
    color: rgb(104, 103, 103);
    flex-wrap: wrap;
}

.barra {
    align-items: center;
}

.barra input {
    height: 30px;
    width: 140px;
    border-radius: 6px;
    border: none;
    border: solid 1px rgb(187, 184, 184);
}

/*LADO IZQUIERDO*/

.caja-izquierda {
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
}

.tarjeta-izquierda {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2px;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

video {
    height: 350px;
}

.texto {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contenido-izquiedo {
    display: flex;
    gap: 6px;

}

.boton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.interactividad {
    display: flex;
}

.tarjeta-derecha {
    width: 26%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.tarjeta-derecha button {
    display: flex;
}

.boton-derecho {
    border: none;
    padding: 8px;

}